.pageContainer {
  min-height: 100vh;
  background-color: #FFFFFF; /* Colors.WHITE */
  width: 100%;
}

.contentWrapper {
  max-width: 800px;
  margin: 0 auto;
  width: 100%;
  padding: 0 24px;
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.content {
  flex: 1;
  padding-left: 0;
  padding-right: 0;
  margin: 0;
}

.header {
  display: flex;
  align-items: center;
  gap: 15px;
}

.avatar {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.avatarPlaceholder {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #808080; /* Colors.GREY_COLOR */
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatarText {
  font-family: 'Poppins-Medium', 'Poppins', sans-serif;
  font-size: 12px;
  color: #FFFFFF; /* Colors.WHITE */
}

.title {
  color: #000E50;
  font-family: 'Poppins';
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
}

.buttonContainer {
  display: flex;
  width: 342px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  margin-top: auto;
  margin-bottom: 24px;
  align-self: center;
}

.addButton {
  display: flex;
  min-height: 44px;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 100px;
  background: #000E50;
  border: none;
  cursor: pointer;
}

.addButtonIcon {
  margin-right: 8px;
}

.addButtonText {
  color: #FFFFFF;
  font-family: 'Poppins';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}

.removeButton {
  display: flex;
  min-height: 44px;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 100px;
  border: 1px solid #FF6961; /* Colors.LIGHT_RED */
  background-color: transparent;
  cursor: pointer;
}

.removeButton.hidden {
  display: none;
}

.removeButtonText {
  color: #FF6961; /* Colors.LIGHT_RED */
  font-family: 'Poppins';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}

.confirmRemoveButton {
  width: 90%;
  padding: 15px;
  background-color: #FF6961; /* Colors.LIGHT_RED */
  border: none;
  border-radius: 8px;
  cursor: pointer;
  opacity: 1;
}

.confirmRemoveButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.confirmRemoveButtonText {
  font-family: 'Poppins-Medium', 'Poppins', sans-serif;
  font-size: 16px;
  color: #FFFFFF; /* Colors.WHITE */
}

.cancelButton {
  width: 90%;
  padding: 15px;
  background-color: #FFFFFF; /* Colors.WHITE */
  border: 1px solid #808080; /* Colors.GREY_COLOR */
  border-radius: 8px;
  cursor: pointer;
}

.cancelButtonText {
  font-family: 'Poppins-Medium', 'Poppins', sans-serif;
  font-size: 16px;
  color: #808080; /* Colors.GREY_COLOR */
}
