.container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.colorIndicator {
  cursor: pointer;
  padding: 2px;
}

.colorDot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
}
