/* Root Container */
.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* Header Section */
.header {
  display: flex;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}

.allDayToggleContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: auto;
  cursor: pointer;
}
