.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2px;
  text-align: center;
  padding-top: 8px;
}

.avatar-wrapper {
  position: relative;
}

.avatar {
  border-radius: 50%;
  object-fit: cover;
}

.initials-circle {
  align-items: center;
  justify-content: center;
  background-color: var(--color-blue-grey);
  border-radius: 50%;
}
